<?xml version="1.0"?>
<model>
  <name>QR_Code</name>
  <version>1.0</version>
  <description>
    QR Code of 8 cm side length with no mass
  </description>
  <author>
    <name>Ciro Arena</name>
    <email>ci.arena@studenti.unina.it</email>
  </author>
  <sdf version='1.3'>qr_code.sdf</sdf>
</model>


