<?xml version="1.0"?>

<launch>

	<node name="odom_node" pkg="ddr_pkg" type="odometry"/>
	<arg name="rvizconfig" default="$(find ddr_pkg)/rviz/navigation.rviz" />

	<include file="$(find ddr_pkg)/launch/amcl_ddr.launch" />

   <!-- Show in Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
   
   <node name="plan_node" pkg="ddr_pkg" type="planner"/>

</launch>
