<?xml version="1.0"?>

<launch>

	<node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader">
		<param name="throttle_repeated_barcodes" type="double" value="2.0"/>
	</node>
	
	<!--<node name="republish_img" type="republish" pkg="image_transport" output="screen" args="compressed in:=/ddr/camera1/image_raw raw out:=/image" />
	
	<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view"/>
	
	<node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>
	
	<node pkg="ddr_pkg" type="planner" name="planner_node">
	
	<node pkg="ddr_pkg" type="controller" name="controller_node">
	-->

</launch>
